{% extends 'app.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/media/{{ user.avatar.path }}" alt="头像">
                    <div class="caption">
                        <h3>{{ user.username }}</h3>
                        <p class="text-muted"><i class="fa fa-phone"></i>{{ user.users_profile.phone }}</p>
                        <p class="text-muted"><i class="fa fa-phone"></i>{{ user.users_profile.wechat }}
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-md-8">
                <div class="panel panel-warning">
                    <div class="panel-heading">合租请求列表</div>

                    <ul class="list-group">
                        {% for article in articles %}
                            <li class="list-group-item" data-id="{{ article.id }}">
                                <a href="/article/{{ article.id }}">{{ article.title }}</a>
                                <a href="/article/{{ article.id }}/showedit/"><span
                                        class="btn btn-success">修改</span></a>
                                <a class="btn btn-danger"
                                   data-id="{{ article.id }}" href="/article/{{ article.id }}/delete/">删除
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">收藏列表</h3>
                    </div>
                    <ul class="list-group">
                        {% for apartment in star_apartments %}
                            <li class="list-group-item" data-id="{{ apartment.id }}">
                                <a href="/apartment/{{ apartment.id }}">{{ apartment.name }}</a>
                                <div id="star" class="btn star-button starred"
                                     data-id="{{ apartment.id }}">
                                    <i class="fa fa-star"></i>&nbsp;取消收藏
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="panel panel-warning">
                    <div class="panel-heading">你的房源</div>

                    <ul class="list-group">
                        {% for apartment in apartments %}
                            <li class="list-group-item" data-id="{{ apartment.id }}">
                                <a href="/apartment/{{ apartment.id }}">{{ apartment.name }}</a>
                                <a href="/apartment/{{ apartment.id }}/showupdate/"><span
                                        class="btn btn-success">修改</span></a>
                                <a class="btn btn-danger"
                                   data-id="{{ apartment.id }}" href="/apartment/{{ apartment.id }}/delete/">删除
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}