<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>详情页</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#" data-pjax>
                房屋出租系统
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <ul class="nav navbar-nav">
                <li><a href="#" data-pjax>深圳</a></li>
            </ul>

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#" data-pjax>登录</a></li>
                <li><a href="#" data-pjax>注册</a></li>

            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="details-head">
        <!-- title -->
        <div class="clearfix">
            <h2>翠拥华庭二期 视野开阔，采光好，安静舒适。</h2>
            <p class="clearfix">
                <span>洪湖公园，2000米</span>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="thumbnail">
                <img src="../static/img/test.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="clearfix">
                <p class=""><span>215</span>万</p>
                <div class="col-md-12">
                    <p class="clearfix">
                        <span class="average-price fl">58092元/平米</span>
                    </p>
                    <p class="clearfix">
                        <span>首付 </span>
                        <span>月供 </span>
                        <span class="calculator fl"><a class="icons" href="#" id="compute"
                                                       date-scroll="#scrollto-4"></a></span>
                    </p>
                </div>
                <!-- list -->
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li class="clearfix">
                            <span class="">小区名称</span>
                            <p><a href="#"
                                  target="_blank">翠拥华庭二期</a></p>
                        </li>


                        <li class="clearfix">
                            <span class="">看房时间</span>
                            <p class="fl">随时可预约</p>
                            <p class=""><a href="javascript:;">预约看房</a></p>
                        </li>


                        <li class="clearfix">
                            <span class="">对口学校</span>
                            <p class="clearfix">
                                <a target="_blank" href="#">深圳市锦田小学</a>
                            </p>
                        </li>


                        <li class="clearfix">
                            <span class="">所在区域</span>
                            <div class="clearfix">
                                <p>
                                    [<a target="_blank" href="#">罗湖</a>
                                    <a target="_blank" href="#">翠竹</a>]

                                    <a href="javascript:;">
                                        <span>近3号线(龙岗线)翠竹站</span>
                                    </a>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr/>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="clearfix">
                <!-- column-main -->
                <div class="column-main fl">
                    <!-- 房源信息 -->
                    <table class="table table-hover">
                        <tr>
                            <th>房源信息</th>
                            <th>房屋户型</th>
                            <td>1室1厅1厨1卫</td>
                            <th>所在楼层</th>
                            <td>低层/27层</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>建筑面积</th>
                            <td>37.01㎡</td>
                            <th>户型结构</th>
                            <td>平层</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>房屋朝向</th>
                            <td> 北</td>
                            <th>装修情况</th>
                            <td>精装修</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>配备电梯</th>
                            <td>有</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <table class="table table-hover">
                        <tr>
                            <th>交易属性</th>
                            <th>房屋用途</th>
                            <td>住宅</td>
                            <th>上次交易</th>
                            <td>暂无数据</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>房屋年限</th>
                            <td>满两年</td>
                            <th>建筑年代</th>
                            <td>2004</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>抵押信息</th>
                            <td>无抵押</td>
                            <th>房本备件</th>
                            <td>已上传房本照片</td>
                        </tr>
                        <tr>
                            <td></td>
                            <th>房源编码</th>
                            <td>178277847927</td>
                            <td>委托时间</td>
                            <td>2017.12.14 - 2018.12.13</td>
                        </tr>
                    </table>

                </div>
                <!-- column-main -->

            </div>

            <!-- 附近房源 -->
            <div class="">

                <div>
                    <h5>小区房源</h5>
                </div>
                <div>
                    <div>
                        <ul class="list-unstyled clearfix" id="nearRooms">
                            <li>
                                <div class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <a target="_blank" href="#">
                                            <img src="../static/img/test.jpeg">
                                        </a>
                                        <div class="caption">
                                            <h4>218万</h4>
                                            <p>
                                                <a target="_blank" href="#">翠竹苑屋村</a>
                                            </p>

                                            <p>
                                            <span>
                                                <em>1室1厅</em>
                                                <em>36.97m²</em>
                                            </span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <a target="_blank" href="#">
                                            <img src="../static/img/test.jpeg">
                                        </a>
                                        <div class="caption">
                                            <h4>218万</h4>
                                            <p>
                                                <a target="_blank" href="#">翠竹苑屋村</a>
                                            </p>

                                            <p>
                                            <span>
                                                <em>1室1厅</em>
                                                <em>36.97m²</em>
                                            </span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li>
                                <div class="col-md-4 col-sm-6">
                                    <div class="thumbnail">
                                        <a target="_blank" href="#">
                                            <img src="../static/img/test.jpeg">
                                        </a>
                                        <div class="caption">
                                            <h4>218万</h4>
                                            <p>
                                                <a target="_blank" href="#">翠竹苑屋村</a>
                                            </p>

                                            <p>
                                            <span>
                                                <em>1室1厅</em>
                                                <em>36.97m²</em>
                                            </span>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
</body>
</html>