{% extends 'app.html' %}
{% block content %}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <hr>
    <div class="h5">共找到{{ count }}套房源</div>
    <hr>
    <ul class="list-unstyled">
    {% for apartment in apartment_lists %}
        <li>
            <div class="row">
                <div class="col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="/media/{{ apartment.apartmentimg_set.first.img }}" alt="{{ apartment.name }}">
                    </a>
                </div>
                <div class="col-md-7">
                    <div class="show-detail ">
                        <p class="house-title">
                            <a title="{{ apartment.name }}"
                               target="_blank" href="/apartment/{{ apartment.id }}">{{ apartment.name }}</a>
                        </p>

                        <p class="clearfix">
                            <span class="iconfont icon-house"></span>
                            <span>{{ apartment.room }}室{{ apartment.hall }}厅{{ apartment.bathroom }}卫</span>
                            <span></span>
                            <span>{{ apartment.size }}平米</span>
                            <span></span>
                            <span>{{ apartment.decoration }}</span>
                            <span></span>
                            <span>{{ apartment.floor }}</span>
                            <span></span>
                            <span>东北</span>

                        </p>


                    </div>
                </div>
                <div class="col-md-2">
                    <h1 style="color: red;">{{ apartment.price }}</h1>
                </div>
            </div>
            <hr>
        </li>
    {% endfor %}
    

    </ul>
    <nav aria-label="Page navigation">
        <ul class=" pager">
            <li class="previous">
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next">
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

{% endblock %}
