{% extends 'app.html' %}
{% block content %}
    <div class="container">
        <script>
            $(function () {
                $('#all').tab('show');

                $('#hezu').tab('show');

                $('#zhengzu').tab('show');
            });
            $('a[href="#test-paper"]').click(function (e) {
                showTabs('test-paper', 'pages/test-paper.jsp');
                e.preventDefault();
            });
        </script>
        <ul class="nav nav-tabs" id="myTab">
            <li role="presentation" class="active"><a data-toggle="tab" href="#all">全部</a></li>
            <li role="presentation"><a href="#hezu" data-toggle="tab">合租</a></li>
            <li role="presentation"><a href="#zhengzu" data-toggle="tab">整租</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="all">
                <div class="house-count">
                    共找到<span class="house-sum">{{ count_all }}</span>套{{ location.province }}出租房源
                </div>
                <hr>
                <ul id="ap-lists" class="list-unstyled">
                    {% for apartment in apartment_all %}
                        <li href="/apartment/{{ apartment.id }}">
                            <div class="row">
                                <div class="col-md-3">
                                    <a href="/apartment/{{ apartment.id }}" class="thumbnail">
                                        <img src="/media/{{ apartment.apartmentimg_set.first.img }}"
                                             alt="{{ apartment.name }}">
                                    </a>
                                </div>
                                <div class="col-md-7">
                                    <div class="show-detail house-about">
                                        <h3 class="house-title">
                                            <a title="{{ apartment.name }}"
                                               target="_blank"
                                               href="/apartment/{{ apartment.id }}">{{ apartment.name }}</a>
                                        </h3>
                                        <p class="clearfix">
                                            <span><a
                                                    href="/{{ apartment.garden_id.location_id.id }}/">{{ apartment.garden_id.location_id.province }}</a></span>
                                            <span class="flag-line"></span>
                                            <span>{{ apartment.garden_id.name }}</span>
                                            <span class="flag-line"></span>
                                            <span>{{ apartment.room }}室{{ apartment.hall }}厅{{ apartment.bathroom }}卫</span>
                                            <span class="flag-line"></span>
                                        </p>
                                        <p class="clearfix">
                                            <span>大小：</span>
                                            <span>{{ apartment.size }}平米</span>
                                            <span class="flag-line"></span>
                                            <span>朝向：</span>
                                            <span>{{ apartment.get_str_forward }}</span>
                                            <span class="flag-line"></span>
                                            <span>{{ apartment.get_str_decoration }}</span>
                                        </p>


                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <br>
                                    <p class="price"><span class="h2">{{ apartment.price }}</span><span
                                            class="sale-unit">万</span></p>
                                    <br>
                                </div>
                            </div>
                            <hr>
                        </li>
                    {% endfor %}


                </ul>
                <nav aria-label="Page navigation">
                    <ul class=" pager">
                        {% if pages_all.has_previous %}
                            <li class="previous">
                                <a href="?page={{ page_sall.previous_page_number }}" aria-label="Previous"><span
                                        aria-hidden="true">&laquo;</span></a>
                            </li>
                        {% endif %}

                        {% for pg in pages_all.paginator.page_range %}
                            {% if pages_all.number == pg %}
                                <li class="disabled"><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% else %}
                                <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if pages_all.has_next %}
                            <li class="next">
                                <a href="?page={{ pages_all.next_page_number }}" aria-label="Next"><span
                                        aria-hidden="true">&raquo;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>

            </div>
            <hr>
        </div>
    </div>
{% endblock %}
