{% extends 'app.html' %}
{% block content %}


    <div class="details-head">
        <!-- title -->
        <div class="clearfix">

            <div class="page-header">
                <h3>{{ apartment_name }}
                    <small>浏览次数：{{ views }}</small>
                    <small>{{ url }}</small>
                </h3>
            </div>
            <div class="clearfix">
                <ol class="breadcrumb">
                    <li><a href="/{{ p_location.id }}/">{{ p_location.province }}</a></li>
                    <li><a href="/{{ location.id }}/">{{ location.province }}</a></li>
                    <li class="active">{{ garden_name }}</li>
                </ol>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="thumbnail">
                <img src="/media/{{ pic }}" alt="">
            </div>
        </div>
        <div class="col-md-5">
            <div class="row">
                <p class="clearfix">
                    <span class="h3">{{ price }}</span>元/月

                    <span>{{ rent_type }}</span>
                    <span>{{ payment }}</span>
                </p>

            </div>
            <hr>
            <div class="row">
                <ul class="list-unstyled">
                    <li class="clearfix">
                        <span class="field left">小区名称</span>
                        <span><a href="/garden/{{ garden_id }}" target="_blank">{{ garden_name }}</a></span>
                    </li>

                    <li class="clearfix">
                        <span>看房时间</span>
                        <span ><a href="javascript:;" id="makeAppointmentBtn">预约看房</a></span>
                    </li>


                    <li class="clearfix">
                        <span class="field left">所在区域</span>
                        <div class="r-b-a left clearfix">
                            <i class="fa fa-map-marker "></i>
                            <span>
                                [
                                <a target="_blank" href="/{{ p_location.id }}/">{{ p_location.province }}</a>
                                <a target="_blank" href="/{{ location.id }}/">{{ location.province }}</a>
                                ]
                            </span>

                        </div>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <p>{{ room }} 室 {{ hall }} 厅 {{ bathroom }}卫</p>
                </div>
                <div class="col-md-4">
                    <p>{{ size }} ㎡</p>
                </div>
                <div class="col-md-4">
                    {{ forward }}
                </div>
            </div>

        </div>


    </div>

{% endblock %}
