{% extends 'app.html' %}
{% block content %}
    <script>
        $(function () {
            $("#city").change(function () {
                dis = $("#dis");

                $.get('/city/' + $(this).val() + '/', function (list) {
                    dis.empty().append('<option value="">请选择</option>');
                    $.each(list.data, function (index, item) {
                        dis.append('<option value="' + item.id + '">' + item.place + '</option>');
                    })
                })
            });
        });

    </script>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">填写出租信息</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST"
                            {% if reset %}
                          action="/apartment/{{ apartment.id }}/update"
                            {% else %}
                          action="/apartment/rent/"
                            {% endif %}

                          enctype="multipart/form-data"
                          accept-charset="utf-8">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">住宅标题</label>
                            {% if reset %}
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="apartment_name"
                                           value="{{ apartment.name }}">
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="apartment_name">
                                </div>
                            {% endif %}

                        </div>
                    {% if not reset %}
                        <div class="form-group">
                            <label class="col-md-4 control-label">小区</label>
                            {% if reset %}
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="garden_name"
                                           value="{{ apartment.garden_id.name }}">
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="garden_name">
                                </div>
                            {% endif %}
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">物业管理公司</label>
                            {% if reset %}
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="company" placeholder="如果没有物业管理公司，则不填"
                                           value="{{ apartment.garden_id.company }}">
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="company" placeholder="如果没有物业管理公司，则不填">
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">地区</label>
                            <div class="col-md-6">
                                <select class="form-control" name="city" id="city">
                                    <option value="">请选择</option>
                                    <option value="1">北京</option>
                                    <option value="2">上海</option>
                                    <option value="3">广州</option>
                                    <option value="4">深圳</option>
                                </select>
                                <select class="form-control" name="district" id="dis">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                        </div>
                    {% endif %}
                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">租房类型</label>
                            {% if reset %}
                                <div class="col-md-6">
                                    <label class="radio-inline">
                                        <input type="radio" name="rent_type" value="0"
                                                {% if not apartment.rent_type %}
                                               checked
                                                {% endif %}
                                        > 合租
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="rent_type" value="1"
                                                {% if apartment.rent_type %}
                                               checked
                                                {% endif %}
                                        > 整租
                                    </label>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <label class="radio-inline">
                                        <input type="radio" name="rent_type" value="0"> 合租
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="rent_type" value="1" checked> 整租
                                    </label>
                                </div>
                            {% endif %}

                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">总面积</label>
                            {% if reset %}
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="size"
                                               aria-describedby="basic-addon2" value="{{ apartment.size }}">
                                        <span class="input-group-addon" id="basic-addon2">平米</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="size"
                                               aria-describedby="basic-addon2">
                                        <span class="input-group-addon" id="basic-addon2">平米</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">户型</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="room" aria-describedby="basic-addon2"
                                            {% if reset %}
                                           value="{{ apartment.room }}"
                                            {% endif %}
                                    >
                                    <span class="input-group-addon" id="basic-addon2">房</span>
                                    <input type="text" class="form-control" name="hall" aria-describedby="basic-addon2"
                                            {% if reset %}
                                           value="{{ apartment.hall }}"
                                            {% endif %}
                                    >
                                    <span class="input-group-addon" id="basic-addon2">厅</span>
                                    <input type="text" class="form-control" name="bathroom"
                                           aria-describedby="basic-addon2"
                                            {% if reset %}
                                           value="{{ apartment.bathroom }}"
                                            {% endif %}
                                    >
                                    <span class="input-group-addon" id="basic-addon2">卫</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">朝向</label>
                            <div class="col-md-6">
                                <select class="form-control" name="forward">
                                    <option value="1">东</option>
                                    <option value="2">南</option>
                                    <option value="3">西</option>
                                    <option value="4">北</option>
                                    <option value="5">东北</option>
                                    <option value="6">西北</option>
                                    <option value="7">东南</option>
                                    <option value="8">西南</option>
                                    <option value="9">不知道房屋朝向</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">楼层</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="floor"
                                        {% if reset %}
                                       value="{{ apartment.floor }}"
                                        {% endif %}
                                >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">家具</label>
                            <div class="col-md-6">
                                <label class="radio-inline">
                                    <input type="radio" name="furniture" value="0"
                                            {% if not apartment.has_furniture %}
                                           checked
                                            {% endif %}
                                    > 无
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="furniture" value="1"
                                            {% if apartment.has_furniture %}
                                           checked
                                            {% endif %}
                                    > 有
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">装修</label>
                            <div class="col-md-6">
                                <select class="form-control" name="decoration_type">
                                    <option value="1">毛坯</option>
                                    <option value="2">简单装修</option>
                                    <option value="3">中等装修</option>
                                    <option value="4">精装修</option>
                                    <option value="5">豪华装修</option>
                                    <option value="6">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">租金</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="price"
                                           aria-describedby="basic-addon2"
                                            {% if reset %}
                                           value="{{ apartment.price }}"
                                            {% endif %}
                                    >
                                    <span class="input-group-addon" id="basic-addon2">元/月</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">付款类型</label>
                            <div class="col-md-6">
                                <select class="form-control" name="payment_type">
                                    <option value="1">押一付一</option>
                                    <option value="2">押二付一</option>
                                    <option value="3">押一付三</option>
                                    <option value="4">半年付</option>
                                    <option value="5">年付</option>
                                    <option value="6">其他</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="" class="col-md-4 control-label">小区描述</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="description" rows="3">
                                   {% if reset %}
                                       {{ apartment.description }}
                                   {% endif %}
                                </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">图片</label>
                            <div class="col-md-6">
                                <input type="file" class="file-upload" name="img">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i>
                                    {% if reset %}
                                        更新
                                    {% else %}
                                        提交
                                    {% endif %}
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}